.MuiDataGrid-cellContent,
.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input,
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root,
.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input,
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px !important;
}







/* td {
    border: 1px solid black;
} */

/* th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
} */