.MuiDataGrid-cellContent {
    font-size: 14px;
}



/* td {
    border: 1px solid black;
} */

/* th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
} */